* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: black;
    height: 100vh;
    padding: 30px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7px;
    overflow-y: scroll;
}

.box {
    width: 250px;
    height: 150px;
    position: relative;
    margin-top: 11px;
    font-size: smaller;
}

img {
    display: block;
    width: 100%;
}

.nome {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(211, 211, 211, 0.5);
    padding: 10px 5px;
}