* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

header {
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: right;
    padding: 5px;
}

header .container {
    gap: 7px;
}

header .container>* {
    display: inline-block;
    padding: 6px 4px;
    background-color: #4a4a4a;
    border-radius: 5px;
}

main {
    background-color: black;
    height: calc(100vh - 150px);
    padding: 30px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7px;
    overflow-y: scroll;
}

.box {
    width: 250px;
    height: 150px;
    position: relative;
    margin-top: 11px;
    font-size: smaller;
}

img {
    display: block;
    width: 100%;
}

.nome {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(211, 211, 211, 0.5);
    padding: 10px 5px;
}

footer {
    background-color: #222222;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

footer .sezione {
    align-items: center;
}

.audio {
    width: 200px;
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 20px;
}

.contenitore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 20px;
}


.tools {
    padding: 15px;
    display: flex;
    gap: 20px;
}

#colorato {
    color: #4bc800;
}


.sezione.button {
    width: 200px;
    display: flex;
    justify-content: right;
    align-items: center;
}

button {
    color: red;
    font-size: 12px;
    font-weight: bold;
    padding: 30px 20px;
    background-color: #4a4a4a;
    height: 100%;
}